/* offset-x | offset-y | blur-radius | color */
.CTA-button {
  font-family: 'Big Shoulders Text', cursive;
  font-size: 2.5rem;
  width: 15%;
  padding: 1%;
  background-image: linear-gradient(to bottom right, #fffa02, #ffffff);
  box-shadow: -7px 7px 5px #b5c6d1;
  border-radius: 25px;
}
.CTA-button a {
  text-decoration: none;
  color: #0045f4;
  text-align: center;
}
.CTA-button a:hover {
  color: #001847;
}
.center {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Archivo Narrow', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Big Shoulders Text', cursive;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.85rem;
  line-height: 1.4;
  font-family: 'Archivo Narrow', sans-serif;
  color: #001847;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom left, #ffffff, #b5c6d1, #ffffff);
}
