* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Archivo Narrow', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Big Shoulders Text', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.75rem;
  line-height: 1.4;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom left, #ffffff, #b5c6d1, #ffffff);
}
