@import "variables";
@import "mixins";


.mainImg{
    max-width: 900px;
    margin: 0 auto; 
    margin-top: 2%;
    margin-bottom: 2%;
    .flexRow(@flex: flex; @row: row;);
    align-items: center;
    width: 80%;
    height: 80%;
    // border: solid 3px green;
    
}

