/* offset-x | offset-y | blur-radius | color */
.CTA-button {
  font-family: 'Big Shoulders Text', cursive;
  font-size: 2.5rem;
  width: 15%;
  padding: 1%;
  background-image: linear-gradient(to bottom right, #fffa02, #ffffff);
  box-shadow: -7px 7px 5px #b5c6d1;
  border-radius: 25px;
}
.CTA-button a {
  text-decoration: none;
  color: #0045f4;
  text-align: center;
}
.CTA-button a:hover {
  color: #001847;
}
.center {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.mainImg {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 15px;
}
.bottomPanel {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: space-evenly;
}
.bottomPanel .textBoxHeader {
  width: 45%;
  font-size: 1rem;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 7px 7px 5px #b5c6d1;
  padding-left: 1%;
  padding-right: 1%;
  justify-content: left;
}
.bottomPanel .textBoxHeader .panelHead {
  background-color: #fffa02;
  color: #0045f4;
  box-shadow: -7px 7px 5px #b5c6d1;
  text-align: center;
  border-radius: 15px;
  padding: 2%;
}
.bottomPanel .sideYoga {
  border-radius: 15px;
}
