@import "variables";

.flexCol(@flex: flex; @column: column;){
    display: @flex;
    flex-direction: column;
}

.flexRow(@flex: flex; @row: row;){
	display: @flex;
    flex-direction: @row;	
}

.CTA-button {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 2.5rem;
    width: 15%;
    padding: 1%;
    background-image: linear-gradient(to bottom right, @yellow , #ffffff);
    box-shadow: @dropShadowL; 
    border-radius: 25px;

    a{
        text-decoration: none;
        color: @brightBlue;
        text-align: center;
        

        &:hover{
            color: @darkBlue;
        }
    }
}

.center {
    max-width: 1000px;
    margin: 0 auto; 
    margin-top: 2%;
    margin-bottom: 2%;
}