@import "mixins";

.navBar{
    max-width: 900px;
        width: 100%;
        margin: 0 auto; 
        margin-top: 2%;
        margin-bottom: 2%;
        .flexCol(@flex: flex; @column: column;);
        

        .logoText{
            width: 70%;
            height: 70%;
            border: solid 2px red;


        }
}
