@import "mixins";
@brightBlue: #0045f4;
@darkBlue: #001847;
@white: #ffff;
@yellow: #fffa02;
@gray: #b5c6d1;

@dropShadowL: -7px 7px 5px @gray;/* offset-x | offset-y | blur-radius | color */
@dropShadow: 7px 7px 5px @gray;